<link rel="stylesheet" type="text/css" href="/css/footer.css" />

<footer>
	<div class="footerWave">
		<div class="left"></div>
		<a class="footerLogo" href="#top">
			<div class="logo">
				<img
					src="/assets/logo/nome.png"
					alt="Logo do curso de Ciência da Computação"
				/>
			</div>
		</a>
		<div class="right"></div>
	</div>
	<div class="MaxWidthWrapper">
		<div class="footerWrapper">
			<div class="footerFloat">
				<div class="footerContent">
					<h1>Contato</h1>
					<ul>
						<a
							target="_blank"
							href="https://goo.gl/maps/FKcmwBJ76WYrLQSj8"
						>
							<iconify-icon
								icon="heroicons:map-pin-solid"
							></iconify-icon>
							<span>
								Pavilhão Waldir Pires - 2º andar. UESC,
								Ilhéus-Ba
							</span>
						</a>
						<a target="_blank" href="mailto:cajamchapa02@gmail.com">
							<iconify-icon
								icon="bi:envelope-fill"
							></iconify-icon>
							<span> cajamchapa02@uesc.br </span>
							<i>(chapa)</i>
						</a>
						<a target="_blank" href="mailto:cajamchapa02@gmail.com">
							<iconify-icon
								icon="bi:envelope-fill"
							></iconify-icon>
							<span> coldir@uesc.br </span>
							<i>(colegiado)</i>
						</a>
						<a target="_blank" href="tel:73991231301">
							<iconify-icon
								icon="material-symbols:phone-enabled"
							></iconify-icon>
							<span> (73) 9 9123-1301 </span>
							<i>(chapa) </i>
						</a>
						<a target="_blank" href="tel:36805119">
							<iconify-icon
								icon="material-symbols:phone-enabled"
							></iconify-icon>
							<span> (73) 3680-5119 </span>
							<i>(colegiado) </i>
						</a>
					</ul>
				</div>
				<div class="footerContent">
					<h1>Endereço</h1>
					<a
						target="_blank"
						href="https://goo.gl/maps/FKcmwBJ76WYrLQSj8"
						class="linkEndereco"
					>
						<p>UNIVERSIDADE ESTADUAL DE SANTA CRUZ - UESC</p>
						<p>Campus Soane Nazaré de Andrade</p>
						<p>Rodovia Jorge Amado, Km 16, Salobrinho</p>
						<p>CEP 45662-900. Ilhéus-Bahia</p>
					</a>
				</div>
			</div>

			<div class="footerCopy">
				<p>© 2023 - Todos os direitos reservados | CAJAM</p>
				<p>
					Desenvolvido por
					<a target="_blank" href="https://ilrocha.com" id="copyIgor"
						>Igor Rocha</a
					>
				</p>
			</div>
		</div>
	</div>
</footer>
