<link rel="stylesheet" type="text/css" href="./css/header.css" />

<header>
	<div class="wrapper">
		<div class="wrapperContent">
			<a class="logo" href="./">
				<img src="./assets/logo.png" alt="Logo COLCIC" />
			</a>
			<div class="navList">
				<ul>
					<a href="./" data-name="inicio">Início</a>
					<li class="dropdown">
						<span class="title">
							<span> Sobre o curso </span>
							<iconify-icon
								icon="dashicons:arrow-down-alt2"
							></iconify-icon>
						</span>
						<ul>
							<a href="./sobre">Ciência da Computação na UESC</a>
							<a href="./disciplinas">Programa das Disciplinas</a>
							<a
								target="_blank"
								href="../files/comp_curriculares/matriz_cic_2012.pdf"
							>
								<span> Fluxograma do Curso </span>
								<iconify-icon
									icon="akar-icons:download"
								></iconify-icon>
							</a>
						</ul>
					</li>
					<li class="dropdown">
						<span class="title">
							<span> Apoio ao estudante </span>
							<iconify-icon
								icon="dashicons:arrow-down-alt2"
							></iconify-icon>
						</span>
						<ul>
							<a
								target="_blank"
								href="http://www.prograd.uesc.br/PortalSagres/Acesso.aspx"
							>
								<span> Portal Acadêmico </span>
								<iconify-icon
									icon="akar-icons:link-chain"
								></iconify-icon>
							</a>
							<a
								target="_blank"
								href="https://igorroc.github.io/finalcountdown/"
							>
								<span> Calculadora de Prova Final </span>
								<iconify-icon
									icon="akar-icons:link-chain"
								></iconify-icon>
							</a>
							<a
								target="_blank"
								href="https://uesc.ilrocha.com/emails/"
							>
								<span> Email dos professores </span>
								<iconify-icon
									icon="akar-icons:link-chain"
								></iconify-icon>
							</a>
							<a href="./aproveitamentos">
								Aproveitamento de Estudos
							</a>
							<a href="./matricula" class="displayNone">
								Matrícula para Veteranos
							</a>
							<a href="./complementares">
								Atividades complementares (Barema)
							</a>
							<a
								target="_blank"
								href="../files/comp_curriculares/regulamentoestagio.pdf"
							>
								<span> Regulamento do Estágio </span>
								<iconify-icon
									icon="akar-icons:download"
								></iconify-icon>
							</a>
						</ul>
					</li>
					<li class="dropdown">
						<span class="title">
							<span> Colegiado </span>
							<iconify-icon
								icon="dashicons:arrow-down-alt2"
							></iconify-icon>
						</span>
						<ul>
							<a href="./colegiado"> Composição do colegiado </a>
							<a href="./calendario"> Calendário de Reuniões </a>
							<a
								target="_blank"
								href="http://nbcgib.uesc.br/dcetweb/"
							>
								<span> Área para membros do COLCIC </span>
								<iconify-icon
									icon="akar-icons:link-chain"
								></iconify-icon>
							</a>
						</ul>
					</li>
					<li class="dropdown">
						<span class="title">
							<span> Diversos </span>
							<iconify-icon
								icon="dashicons:arrow-down-alt2"
							></iconify-icon>
						</span>
						<ul>
							<a
								target="_blank"
								href="http://sinform.tecnojr.com.br/"
							>
								<span> SINFORM </span>
								<iconify-icon
									icon="akar-icons:link-chain"
								></iconify-icon>
							</a>
							<a href="./licencas">
								Licenças acadêmicas de Software
							</a>
						</ul>
					</li>
					<a
						target="_blank"
						href="http://www.uesc.br/dcet/index.php?item=conteudo_informatica.php"
					>
						<span>Docentes</span>
						<iconify-icon
							icon="akar-icons:link-chain"
						></iconify-icon>
					</a>
					<a href="./contato">Contato</a>
				</ul>
			</div>
			<button class="iconMenu" onclick="toggleNavList()">
				<div>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</button>
		</div>
	</div>
	<div id="top"></div>
</header>

