<link rel="stylesheet" type="text/css" href="/css/header.css" />

<header>
	<div class="wrapper">
		<div class="wrapperContent">
			<a class="logo" href="/">
				<img src="/assets/logo/nome.png" alt="Logo CAJAM" />
			</a>
			<div class="navList">
				<ul>
					<a href="/" data-name="inicio">Início</a>
					<li class="dropdown">
						<span class="title">
							<span> Sobre o CA </span>
							<iconify-icon
								icon="dashicons:arrow-down-alt2"
							></iconify-icon>
						</span>
						<ul>
							<a href="/sobre-ca">CAJAM</a>
							<a href="/composicao">Composição da chapa 02</a>
						</ul>
					</li>
					<li class="dropdown">
						<span class="title">
							<span>Administração do Curso</span>
							<iconify-icon
								icon="dashicons:arrow-down-alt2"
							></iconify-icon>
						</span>
						<ul>
							<a href="/sobre-curso"> Sobre o curso </a>
							<a href="/colegiado"> Composição do colegiado </a>
							<a href="/disciplinas">
								Programação das disciplinas
							</a>
							<a target="_blank" href="#">
								<span> Fluxograma do curso </span>
								<iconify-icon
									icon="akar-icons:download"
								></iconify-icon>
							</a>
							<a target="_blank" href="#">
								<span> Revista UESC Direito </span>
								<iconify-icon
									icon="akar-icons:link-chain"
								></iconify-icon>
							</a>
						</ul>
					</li>
					<li class="dropdown">
						<span class="title">
							<span> Apoio ao estudante </span>
							<iconify-icon
								icon="dashicons:arrow-down-alt2"
							></iconify-icon>
						</span>
						<ul>
							<a
								target="_blank"
								href="http://www.prograd.uesc.br/PortalSagres/Acesso.aspx"
							>
								<span> Portal Acadêmico </span>
								<iconify-icon
									icon="akar-icons:link-chain"
								></iconify-icon>
							</a>
							<a
								target="_blank"
								href="https://igorroc.github.io/finalcountdown/"
							>
								<span> Calculadora de Prova Final </span>
								<iconify-icon
									icon="akar-icons:link-chain"
								></iconify-icon>
							</a>
							<a
								target="_blank"
								href="https://uesc.ilrocha.com/emails/"
							>
								<span> Email dos professores </span>
								<iconify-icon
									icon="akar-icons:link-chain"
								></iconify-icon>
							</a>
							<a href="/aproveitamento">
								Aproveitamento de Estudos
							</a>
							<a
								target="_blank"
								href="http://www.uesc.br/proad/index.php?item=conteudo_gera_requerimento_academico.php"
							>
								<span> Protocolo </span>
								<iconify-icon
									icon="akar-icons:link-chain"
								></iconify-icon>
							</a>
							<a href="/complementares">
								Atividades complementares (Barema)
							</a>
							<a target="_blank" href="#">
								<span> Regulamento do estagio </span>
								<iconify-icon
									icon="akar-icons:download"
								></iconify-icon>
							</a>
							<a
								target="_blank"
								href="https://drive.google.com/drive/folders/1SVtw7CNqwSQJPvWopG1xVn73ON8Xoryb?usp=share_link"
							>
								<span> Drive com livros </span>
								<iconify-icon
									icon="akar-icons:link-chain"
								></iconify-icon>
							</a>
						</ul>
					</li>
					<li class="dropdown">
						<span class="title">
							<span> Diversos </span>
							<iconify-icon
								icon="dashicons:arrow-down-alt2"
							></iconify-icon>
						</span>
						<ul>
							<a target="_blank" href="#">
								<span> Eventos (Em breve) </span>
								<iconify-icon
									icon="fluent:sparkle-16-filled"
								></iconify-icon>
							</a>
							<a target="_blank" href="#">
								<span> Escritório modelo </span>
								<iconify-icon
									icon="akar-icons:download"
								></iconify-icon>
							</a>
							<a target="_blank" href="#">
								<span> Grupo de estudos | Júri-simulado </span>
								<iconify-icon
									icon="akar-icons:link-chain"
								></iconify-icon>
							</a>
							<a target="_blank" href="#">
								<span> Senso 2023.1 </span>
								<iconify-icon
									icon="akar-icons:download"
								></iconify-icon>
							</a>
							<a target="_blank" href="#">
								<span> Gráfica (Em breve) </span>
								<iconify-icon
									icon="fluent:sparkle-16-filled"
								></iconify-icon>
							</a>
						</ul>
					</li>
					<a href="/contato">Contato</a>
				</ul>
			</div>
			<button class="iconMenu" onclick="toggleNavList()">
				<div>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</button>
		</div>
	</div>
	<div id="top"></div>
</header>
